*.txt
._*
.DS_Store
*~
*.swp
*.swo
.project
*.lock
log/*
tmp/*
*.db
*.sqlite3
nbproject/*
Icon?
*.log
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.7z
*~
\#*\#
.\#*
.*.swp
*.tmproj
*.user
*.webinfo
*.pyc
